.notification
  .notice
    グループを作成しました
.wrapper
  .side-bar
    .header
      %h3.header__name
      = current_user.name
      %ul.header__lists
        /
        %li.list
        = link_to new_group_path do
          / ここではペンマークのアイコンをおく
          %i.fa.fa-pencil-square-o.icon


        %li.list
        =link_to edit_users_path do
          %i.fa.fa-cog.icon
          / ここでは設定のアイコンをおく
    .groups
      / groupsは左サイドバーに表示されるグループたちということ
      .group
        - current_user.groups.each do |group|
          = link_to groups_path(group) do
            .group__name
              = group.name
            .group__message
              メッセージはまだありません。
  .chat
    .header
      .left-header
        .left-header__title
          掲示板1
        %ul.left-header__members
          Member：
          %li.member
            kkkkk
      .right-header
        %a.right-header__button Edit
    .messages
      / このjsmessageっていらないかも
      = render @messages
    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'
